html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------- CSS RESETTER ------- */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    height: 800px;
    width: 1300px;
    background-image: url('../assets/background.jpg');
    display: flex;
    align-items: center;
    border: 5px;
    border-color: white;
    border-style: double;
    border-radius: 20px;
    justify-content: space-between;
}

.dividing-line {
    height: 700px;
    width: 1px;
    color: white;
    opacity: 0.5;
}

.board {
    display:flex;
    padding:20px;
}

.tile {
    margin:10px;
    height:50px;
    width: 50px;
    border: 1px black solid;
    border-radius: 10px;
}

.enemy-tile {
    background-color: rgba(128, 128, 128, 0.415);
}

.enemy-tile:hover {
    background-color: rgba(210, 211, 210, 0.504);
    border: 1px rgb(212, 209, 208) solid;
    transition: background-color .3s linear;
}

.player-tile:hover {
    background-color: rgba(210, 211, 210, 0.504);
    border: 1px rgb(212, 209, 208) solid;
    transition: background-color .3s linear;
}











/* leave this shit for later
.game-container-wrapper {
    height: 850px;
    width: 800px;
    position: relative;
}


  leave this shit for later
.game-container-wrapper::before {
    content: "";
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-size: cover;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
} */

